<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <p>Dear SCATLAS-LC Administrators,</p>

    <p>A user has submitted a contact form with the following information: </p>
    <div><strong>Name: </strong> <%- name %></div>
    <div><strong>Email: </strong> <%- email %></div>
    <div><strong>Affiliation: </strong> <%- subject %></div>
    <div><strong>Message Body: </strong></div>
    <div style="white-space: pre-wrap;"><%- body %></div>

    <p>Respectfully,</p>
    <p>SCATLAS-LC Web Tool</p>

</body>
</html>
