<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <p>Dear SCATLAS-LC Administrators,</p>

    <p>A user has submitted a contact form with the following information: </p>

    <p>
        <strong>Name: </strong> <%- name %>
    </p>

    <p>
        <strong>Email: </strong> <%- email %>
    </p>

    <p>
        <strong>Subject: </strong> <%- subject %>
    </p>

    <p>
        <strong>Message Body: </strong> <%- body %>
    </p>

    <p>Respectfully,</p>
    <p>SCATLAS-LC Web Tool</p>

</body>
</html>